include layouts/main.pug

block extra_css
    link(rel='stylesheet', href='/css/home.css')
block content
    div.view.intro-2
        div.full-bg-img
            div.mask.rgba-black-light.flex-center
                div.container.text-center.white-text
                    div.white-text.text-center.wow.fadeInUp
                        h1 This Navbar is fixed
